.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  gap: 2px;
}

.grid-item:hover{
  background-color: rgb(180, 180, 180);
}